<form action="" method="POST">
    <input type="color" name="body_color" value="{{colors.body_color}}">
    <input type="color" name="contact_bg" value="{{colors.contact_bg}}">
    <input type="color" name="about_font_color" value="{{colors.about_font_color}}">
    <input type="color" name="adout_bg_color" value="{{colors.adout_bg_color}}">
    <input type="color" name="certi_font_color" value="{{colors.certi_font_color}}">
    <input type="color" name="certi_color" value="{{colors.certi_color}}">
    <input type="color" name="project_card_font_color" value="{{colors.project_card_font_color}}">
    <input type="color" name="project_card_button_color" value="{{colors.project_card_button_color}}">
    <input type="color" name="project_card_color" value="{{colors.project_card_color}}">
    <input type="color" name="card_color_bg" value="{{colors.card_color_bg}}">
    <input type="text" name="certi_font" value="{{colors.certi_font}}">
    <input type="text" name="project_card_font" value="{{colors.project_card_font}}">
    <input type="text" name="font_style" value="{{colors.font_style}}">
    <input type="text" name="font" value="{{colors.font}}">
    <button type="submit">Submit</button>
</form>
